 .content {
    grid-area: content;
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}

.imagem-1{
    align-self: end;
    grid-row: span 2;
    align-self: end;
}



/* ESTILO CONTENT */

 p{
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: #000000b3;

}

.informacoes p + p {
    margin-top: 3rem;
}

.titulo{
    color: #b07dfb;
}

.titulo h1{
    font-size: 5.4rem;
    line-height: 1;
    font-weight: 700;
}

.titulo span{
    font-size: 1.5rem;
    font-style: italic;
}

.caracter{
    display: flex;
    align-items: flex-start;

}

.caracter > div {
    width: 8rem;
    text-align: center;
    background: var(--gradientcolor);
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(44,44,44,0.15);
    position: relative;
}

.caracter > div:first-child{
    margin-right: 3rem;
}

.caracter span {
    display: block;
    color: #622eb1;
}

.numero {
    color: #a16df0;
    font-size: 4.8rem;
    line-height: 1;
    margin-top: 10px auto;
}

.rotulo {
    background: white;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    position: relative;
    top: 2px;
}

.destaque{
    font-size: 1.6rem;
    color: #8844ee;
    max-width: 25.6rem;
}

.citacao, .atributos {
    align-self: start;
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1.5rem 0rem rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.citacao p{
    font-size: 2.2rem;
    font-style: italic;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
    color: white;
}

.atributos li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-bottom: 2px;
}

.atributos li + li{
    border-top: 2px solid #b07dfb ;
}