.header {
    grid-area: header;
    background: var(--gradientcolor);
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 20rem;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a{
    display: block;
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    background: rgba(0,0,0,.1);
    border-radius: 0.5rem;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

.header li + li {
    margin-left: 3rem;
}



